%p#notice= notice

%p
  %b Name:
  = @driver.name
%p
  %b Phone:
  = @driver.phone
%p
  %b Email:
  = @driver.email
%p
  %b Vehicle:
  = @driver.vehicle

= link_to 'Edit', edit_driver_path(@driver)
\|
= link_to 'Back', drivers_path
